@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html {
background-color: black;
}

.column {
  float: left;
  width: 40%;
  padding: 20px;
}

#columnwrapper {
  margin: auto;
}

h1 {
  font-family: 'Inconsolata';
  font-size: 50px;
  color: white;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

h3{
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

body {
  font-family: 'Inconsolata';
  color: white;
}
